@model LastTask1.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    @@media (max-width: 570px) {
        .container-fluid {
            padding: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        #size, #size1 {
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    }
</style>
<link href="~/css/LoginRegister.css" rel="stylesheet" />

<div id="size1" class="container d-flex justify-content-center">
    <form id="size" class="w-75 shadow bg-white d-flex flex-column align-items-center" asp-controller="Account" asp-action="Login">
        <h1 class="mt-5 text-center">Login</h1>
        <div class="md-form w-75 mt-0">
            <i class="fas fa-user prefix"></i>
            <input asp-for="UserName" type="text" id="inputIconEx2" class="form-control" placeholder="Type your username">
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="md-form w-75">
            <i class="fas fa-lock prefix"></i>
            <input asp-for="Password" required type="password" id="inputValidationEx2" class="form-control validate" placeholder="Type your password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="custom-control custom-checkbox mr-sm-2 w-75 text-left">
            <input asp-for="RememberMe" type="checkbox" class="custom-control-input" id="customControlAutosizing">
            <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
        </div>


        <div asp-validation-summary="ModelOnly" class="note note-danger"></div>
        <input id="signup" type="submit" asp-controller="Account" asp-action="Login" class="btn btn-success btn-rounded w-25 mb-5 mt-5" value="Login" />
    </form>
</div>


