* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#container {
    width: 100vw;
}

#content {
    margin: 0 !important;
    padding: 0 !important;
}

@media (max-width: 640px) {
    .wrapper {
        min-width: 100% !important;
    }

    #wrap {
        min-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    #body {
        margin: 0 !important;
        padding: 0 !important;
    }

    #container {
        padding: 0 !important;
    }

    #cont {
        padding: 0 !important;
        margin: 0 !important;
    }

    #card {
    }
}

